<!DOCTYPE html>
<html>
    <head>
        <title>
            Mobile Login
        </title>

        <style>
            #login-background{
                position:absolute;
            }
        </style>

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
        @Styles.Render("~/Content/mobile/css/Style.css")
    </head>
    <body>
        <div id="login-background">
            <!-- For best results use an image with a resolution of 2560x400 pixels (prefer a blurred image for smaller file size) -->
            @*<img src="~/Content/themes/img/placeholders/headers/login_header.jpg" alt="Login Background" class="animation-pulseSlow">*@
            <img src="~/Content/themes/img/background-login-mobile.png" alt="Login Background" class="animation-pulseSlow">
        </div>
        @RenderBody()
    </body>

</html>